*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    overflow: hidden;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

 .sidebar{
    height: 100vh;
    width: 7%;
    background-color: rgba(49, 49, 50, 1);
    float: left;   
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;    
}

.sidebar .navs{
    display: none;
    color: white;
    text-align: center;
}

.sidebar .navs .nav-logo{
    padding-top: 30px;
}

.sidebar .navs .nav-logo img{
    height: 40px;
}

.sidebar .navs .nav-list{
    padding-top: 70px;
}

.sidebar .navs li a{
    font-weight: 600;
    line-height: 30px;
    text-decoration: none;
    color: white;
}

.sidebar  .fas{
    color: white;
    font-size: 40px;
    margin-left: 10%;
    margin-top: 0%;
    display: none;
}
  
.sidebar .list{
    padding: 10px;
    list-style-type: none;
}

.sidebar .list li a{
    color: #fff;
    line-height: 100px;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 10px; 
}

.main  .bg-text{
    font-size: 250px;
	color: grey;
	font-weight: bolder;
	letter-spacing: 5px;
	text-align: center;
	opacity: 0.2;
	margin-top: -5%;
}

.main{
    width: 94%;
    height: 100vh;
    float: right;
    background-image:  url(https://i.im.ge/2022/06/19/reFcv6.png ), url(images/Vector\ 1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.main .navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;  
}

.main .navigation .logo .logo-image{
    width: 80px;
    padding-left: 20%;
}

.main .navigation .icons {
    width: 5%;
    margin-right: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .navigation .icons i{
    color: #fff;
    
} 

.main .vector1{
    position: relative;
    height: 50px;
    left: 45%;
    top: 20px;
    transform: translate(10px,0px);
}

.main .vector2{
    position: relative;
    height: 40px;
    left: 45%;
    top: 30px;
    transform: translateX(-25px);
    opacity: 0.5
}

.main  .circle1{
    float: right;
    position: relative;
    top: -30%;
    left: 0%;
    width: 400px;
}

.main  .circle2{
    float: left;
    position: relative;
    top: 7%;
    left: 5%;
}

.main .content{
    color: white;
    position: relative;
    left: 20%;
    top: 20%;
}

.main .content .new{
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 2px;
}

.main .content h1{
    margin-left: 20px;
}

.main .content .title{
    font-size: 30px;
    margin-left: 70px;
    font-family: brush;
}

.main .content a i{
    margin-left: 90px;
    margin-top: 30px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
    color: white;
    cursor: pointer;
}

.main .content audio{
    margin-top: 70px;
    background-color: black;
}

@media (max-width: 768px){
    .main{
        
        background-image:  url(https://i.im.ge/2022/06/19/reFcv6.png ), url(images/Vector\ 1.png);
        background-size: cover, contain;
        background-repeat: no-repeat;
        background-position: right, right;
    }

    .main  .bg-text{
        font-size: 230px;
        color: grey;
        font-weight: bolder;
        letter-spacing: 7px;
        text-align: center;
        opacity: 0.2;
        margin-top: 0%;
        margin-left: -17%;
    }

    .main .content{
        color: white;
        position: relative;
        left: 33%;
        top: 15%;
    }

    .main .navigation .icons .fas {
        display: none;
        
    }

    .main  .circle1{
        float: right;
        position: relative;
        top: -70%;
        left: 60%;
        width: 400px;
    }

    .main .vector1, .main .vector2{
        display: none;
    }

    .sidebar{
        height: 100vh;
        width: 0px;
        background-color: rgba(49, 49, 50, 1);
        float: left;  
        display: block;
        z-index: 1; 
        position: fixed;
        left: 0;
        top: 0;
        transition: 0.1s
    }

    .sidebar .fa-solid{
        color: white;
    }

    .sidebar .navs{
        display: block;
        color: white;
        text-align: center;
    }

    .sidebar .navs .nav-logo{
        padding-top: 30px;
    }

    .sidebar .navs .nav-logo img{
        height: 40px;
    }

    .sidebar .navs .nav-list{
        padding-top: 70px;
    }

    .sidebar .navs li a{
        font-weight: 600;
        line-height: 30px;
        text-decoration: none;
        color: white;
    }

    .sidebar  .fas{
        color: white;
        font-size: 40px;
        margin-left: 40%;
        display: block;
    }

    .sidebar .list li a{
        color: #fff;
        line-height: 100px;
        border: none;
        border-radius: 50%;
        margin-left: 10px; 
         
    }

    .sidebar .list{
        margin-left: 10px;
        list-style-type: none;
        display: inline-flex;
        padding-top: 70px;
    }
   
}